@media (max-width: 1115px) {
    #promo {
        height: 10%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;t
    }
    #promoblur {
        height: 10%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #apromo:hover #promoblur{
        height: 10%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #apromo:hover #promo{
        height: 10%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #promo1 {
        margin-left: 1%;
        height: 10%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #promo1blur {
        margin-left: 1%;
        height: 10%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #apromo1:hover #promo1blur{
        margin-left: 1%;
        height: 10%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #apromo1:hover #promo1{
        margin-left: 1%;
        height: 10%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: rgb(145, 145, 145) 5px solid;
    }
    .images {
        height: 120;
        width: 120;
}
