@media (max-width: 1440px) {
    #promo {
        height: 55%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #promoblur {
        height: 55%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #apromo:hover #promoblur{
        height: 55%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #apromo:hover #promo{
        height: 55%;
        width: 60%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #promo1 {
        margin-left: 1%;
        height: 55%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #promo1blur {
        margin-left: 1%;
        height: 55%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: whitesmoke 5px solid;
    }
    #apromo1:hover #promo1blur{
        margin-left: 1%;
        height: 55%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: inline-block;
        border: whitesmoke 5px solid;
    }
    #apromo1:hover #promo1{
        margin-left: 1%;
        height: 55%;
        width: 15%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        display: none;
        border: rgb(245, 245, 245) 5px solid;
    }
}
